/* https://www.w3schools.com/howto/howto_js_slideshow.asp */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
	margin: 0;
	position: relative;
}

/* navigator */
.navigator {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20%;
	font-family: "Inter", sans-serif;
	padding: 2%;
	color: white;
	left: 0;
	right: 0;
	z-index: 1;
}

.navigator_lang {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20%;
	font-size: small;
	font-weight: 500;
}

.navigator_center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20%;
	text-align: center;
}

.navigator_page {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10%;
	font-size: small;
	font-weight: 500;
}

.navigator_center img {
	width: 40%;
}

.navigator_contact {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20%;
}

.navigator_contact img {
	width: 25%;
}

/* 맨 위 슬라이더 */
.mainSlider {
	overflow: hidden;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.mainSlider_img {
	width: 100vw;
	height: 70vh;
	filter: brightness(0.5);
}

.mainSlider_img img {
	width: 100%;
}

@keyframes slider {
	from {
		left: 0px;
	}

	to {
		left: -100px;
	}
}
